@* Note that the only code here is the HTML that is specific to the Goodbye-view. The layout this
view will use is defined in _ViewStart.cshtml. *@
<h1>Goodbye, cruel world!</h1>
<p>We are sad to see you go.</p>