@{
	// The layout property points to the file that contains the layout for this view. The ~ means that
	// the path is relative to the root of the application.	
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Note that the only code here is the HTML that is specific to the Goodbye-view. *@
<h1>Goodbye, cruel world!</h1>
<p>We are sad to see you go.</p>